{% extends '::base.html.twig' %}

	{% block title %} Contact Us {% endblock %}
	
{% block body %}
	
	
    <section class="no-margin">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2712.176948355459!2d27.574910999999997!3d47.173972000000006!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40cafb6227e846bd%3A0x193e4b6864504e2c!2sFacultatea+de+Informatic%C4%83!5e0!3m2!1sro!2s!4v1402331408186" width="100%" height="700" frameborder="0" style="border:0"></iframe>   
    </section>
	</br>


{% endblock %}
