{% extends '::base.html.twig' %}

	{% block title %} Frequently Asked Questions {% endblock %}
	
{% block body %}
		
	<section id="faqs" class="container">
		</br>
        <ul class="faq">
         <li>
            <span class="number">01</span>
            <div>
                <h4>What is check in/check out time?</h4>
                <p>Check in is at 3 PM and check out is at 12 noon.</p>
            </div>
        </li>

        <li>
            <span class="number">02</span>
            <div>
                <h4>Do you allow smoking on property? In the rooms?</h4>
                <p>No, the neLO is a smoke-free establishment.</p>
            </div>
        </li>

        <li>
            <span class="number">03</span>
            <div>
                <h4>Do you have high-speed wired and/or wireless Internet access available?</h4>
                <p>Wireless Internet access is available throughout the hotel and high-speed wired Internet access is available in all guest rooms.</p>
            </div>
        </li>

        <li>
            <span class="number">04</span>
            <div>
                <h4>Do you have a fitness center? What kind of equipment does it have? What are the hours?</h4>
                <p>Yes, we have an on-site 24-hour fitness center, featuring Precor equipment.</p>
            </div>
        </li>

        <li>
            <span class="number">05</span>
            <div>
                <h4>Do you offer room service? What are the hours?</h4>
                <p>Room service is available from 7 AM – 11 AM and 5 PM – 11 PM daily.</p>
            </div>
        </li>

        <li>
            <span class="number">06</span>
            <div>
                <h4>Do you have a business center?</h4>
                <p>Yes, the business center is open 24 hours a day.</p>
            </div>
        </li>
    </ul>
    <p>&nbsp;</p>
    
</section>


{% endblock %}
