{% extends '::base.html.twig' %}

	{% block title %} Policy {% endblock %}
	
{% block body %}

	
    <!-- Privacy-policy -->
    <section id="privacy-policy" class="container">
    </br>
        <h3>Our Mission</h3>
        <p>At neLO Hotels & Resorts Worldwide, Inc. (“neLO”), we are dedicated to protecting your privacy and safeguarding your personally identifiable information. neLO's mission is to consistently exceed our guests' expectations in terms of the products and services we provide to our business and leisure travelers. We strive to create an experience that is responsive to our guests' needs by using the information you entrust us with responsibly. neLO is committed to respecting your privacy and adhering to the principles of applicable data protection and privacy laws throughout the world.</p>

        <p>We have provided this Privacy Statement as an explanation of the information we collect, how we use it, how the use of this information can benefit your experience on our web sites and during your relationship with us, with whom and for what purposes we may share the information, and the choices you can make about our use of the information. We also describe the measures we take to protect the security of the information and how you can contact us about our privacy practices. Our privacy practices may vary among the countries in which we operate to reflect local practices and legal requirements. We wish to help you make informed decisions, so please take a moment to read the sections below. </p>

        <p>&nbsp;</p>

        <h3>Types of information we collect</h3>
        <p>neLO collects information about our guests and visitors to our web sites so that we can provide an experience that is responsive to our guests' and visitors' needs. Information may be collected as part of: (i) fulfilling reservation or information requests, (ii) purchasing products or services, (iii) registering for program membership, (iv) submitting a job application, (v) responding to communications from us (e.g., surveys, promotional offers, or reservation confirmations), (vi) accommodating your personal preferences, (vii) fulfilling requests for services or recommendations we provide you, (viii) working with third party sources, including collecting publicly available information from social networking web sites, to better assist us with understanding your interests and to serve you better, (ix) your use of our apps on your electronic devices, (x) updating your contact information including your address (through such services as the National Change of Address Service in the United States), or (xi) facilitating the transmission of forward to a friend email at your request. The types of personally identifiable information (sometimes referred to as “PII”) that we collect may include your name, home, work and e-mail addresses, telephone, mobile telephone, and fax numbers, credit card information, date of birth, gender, and lifestyle information such as room preferences, leisure activities, names and ages of children, and other information necessary to fulfill special requests (e.g., health conditions that require special room accommodations).</p>

        <p>neLO may also collect non-personally identifiable information about you, such as your use of our web sites, communication preferences, travel habits, aggregated data relative to your stays, and responses to promotional offers and surveys.</p>

        <p>Please note, to better safeguard your information, please do not include any credit card information in your electronic communication unless it is specifically required by us as part of the reservation or transaction fulfillment process on our branded reservation web sites, or our customer contact centers.</p>

        <p>&nbsp;</p>

        <h3>Safe harbor</h3>
        <p>If you are located in the European Economic Area or Switzerland, we comply with applicable legal requirements providing adequate protection for the transfer of PII to countries outside of the European Economic Area or Switzerland. neLO is certified under the Safe Harbor privacy frameworks as set forth by the U.S. Department of Commerce, European Commission and Switzerland regarding the collection, storage, use, transfer and other processing of PII transferred from the European Economic Area or Switzerland to the U.S. click here to view our Safe Harbor Privacy Statement.</p>

        <p>&nbsp;</p>
        <h3>Security safeguards</h3>
        <p>neLO recognizes the importance of information security, and is constantly reviewing and enhancing our technical, physical, and logical security rules and procedures. All neLO owned web sites and servers have security measures in place to help protect your PII against accidental, loss, misuse, unlawful or unauthorized access, disclosure, or alteration while under our control. Although "guaranteed security" does not exist either on or off the Internet, we safeguard your information using appropriate administrative, procedural and technical safeguards, including password controls, "firewalls" and the use of up to 256-bit encryption based on a Class 3 Digital Certificate issued by VeriSign, Inc.  This allows for the use of Secure Sockets Layer (SSL), an encryption method used to help protect your data from interception and hacking while in transit.</p>

        <p>&nbsp;</p>
        <h3>Minors</h3>
        <p>neLO does not seek to obtain nor does it wish to receive PII directly from minors; however, we cannot always determine the age of persons who access and use our web sites. If a minor (as defined by applicable law) provides us with his/her data without parental or guardian consent, we encourage the parent or guardian to contact us to have this information removed and to unsubscribe the minor from future neLO marketing communications.</p>
        <p>&nbsp;</p>


    </section>
    <!-- /privacy-policy -->


{% endblock %}
