{% extends '::base.html.twig' %}

	{% block title %} Terms Of Use {% endblock %}
	
{% block body %}

	
    <!-- terms-use -->
    <section id="terms-use" class="container">
    </br>
        <h3>Introduction</h3>
        <p>This web site and the related web sites contained herein (collectively, the "Site") make available information on hotels, resorts, and other transient stay facilities (each a "Property") owned, managed or franchised by <b>neLO</b> Hotels & Resorts Worldwide, Inc. and/or its subsidiaries and affiliates (collectively, "neLO"), and other travel-related or consumer goods and services. This Site, and the services of each of its modules, are offered exclusively by neLO and/or its various third party providers and distributors. The offer of such goods and/or services is conditioned on the user's ("User('s)" or "You(r)") acceptance of the terms and conditions and notices set forth herein and on other pages of the Site (collectively the "Terms").
        
        BY ACCESSING USING, VIEWING, TRANSMITTING, CACHING OR STORING THIS SITE OR ANY OF ITS SERVICES, FUNCTIONS OR CONTENTS, YOU SHALL BE DEEMED TO HAVE AGREED TO EACH AND ALL THE TERMS, CONDITIONS, AND NOTICES IN THIS SITE ("AGREEMENT") WITHOUT MODIFICATION. IF YOU DO NOT AGREE, PLEASE CEASE USE OF THE SITE AND LEAVE THE SITE IMMEDIATELY. </p>

        <p>&nbsp;</p>

        <h3>Use of site</h3>
        <p>The services of this Site are available only to individuals who can form legally binding contracts under applicable law, and thus, are not available to minors. By using this Site, You represent that You are of sufficient legal age to use this Site and to create binding legal obligations for any liability You may incur as a result of the use of this Site. You also warrant that You are legally authorized to make the travel reservations and/or purchases for either Yourself or for another person for whom You are authorized to act.

        You may only use this Site to make legitimate reservations or purchases and shall not use this Site for any other purposes, including without limitation, to make any speculative, false or fraudulent reservations, or any reservation in anticipation of demand.

        This Site is to be used by You for Your personal use only. Commercial uses of this Site are strictly prohibited unless prior written consent from neLO has been granted. You agree that You will not use this Site for chain letters, junk mail, "spamming", solicitations (commercial or non-commercial) or bulk communications of any kind including but not limited to distribution lists to any person who has not given specific permission to be included in such a list. In addition, You agree not to create a hypertext link from any web site controlled by You or otherwise, to this Site without the express written permission of neLO. You agree not to pretend to be any other person or a representative of any entity, whether actual or fictitious, including an employee or agent of neLO or any third party that provides services related to this Site.

        "Chat Area" means any chat area, forum, message board, or similar service offered in conjunction with this Site. If You participate in a Chat Area, You agree that, in addition to complying with the Terms, You will not: defame, abuse, harass, threaten, or make any discriminatory statements about others; advocate illegal activity; use indecent, obscene or discourteous language or images; or provide content that is not related to the designated topic or theme of the Chat Area. You shall remain solely responsible and liable for Your use of the Chat Area. neLO reserves the right to remove or edit content from any Forum at any time and for any reason, however, neLO has no duty to do so, and is not responsible for the content or accuracy of any information in a Chat Area.

        You agree that You will not use any robot, spider, other automatic device or manual process to monitor or copy the Site or any contents or information contained therein, unless You obtain neLO's prior express written consent. You agree that You will not through any means interfere or attempt to interfere with the proper functioning of the Site. You agree that You will not provide to neLO and/or to this Site: (i) any viruses, worms, time bombs, and/or other computer programming routines that are intended to damage, detrimentally interfere with, intercept or expropriate any system, data or information; and (ii) any content that may create liability for neLO or cause neLO to lose (in whole or in part) the services of our suppliers.</p>

        <p>&nbsp;</p>

        <h3>Proprietary Rights Information</h3>
        <p>This Site contains and references trademarks, patents, trade secrets, technologies, products, processes or other proprietary rights of neLO and/or other parties. No license or right to or in any such trademarks, patents, trade secrets, technologies, products, processes and other proprietary rights of neLO and/or other parties is granted to or conferred upon You. Reproduction or storage of materials obtained from this Site is subject to the U.S. Copyright Act of 1976, Title 17 U.S.C. No material from the Site may be reproduced, distributed, posted, displayed, uploaded or transmitted. The use of any material from the Site on any other internet, intranet, web or other site or computer environment is prohibited. You may not utilize framing techniques to frame any neLO trademarks, logos, or other proprietary information (including images and text). You may not use any meta tags or any other "hidden text" utilizing our name, trademarks or other proprietary information.</p>

        <p>&nbsp;</p>
        <h3>Copyright</h3>
        <p>This Site, including each of its modules, is the copyrighted property of neLO and/or its various third party providers and distributors. This Site and the content provided on this Site may not be copied, reproduced, republished, uploaded, posted, modified, transmitted or distributed without the written permission of neLO, except that You may download, display and print one copy of the materials presented on this Site on a single computer for Your personal, non-commercial use only. Unauthorized use of this Site and/or the materials contained on this Site may violate applicable copyright, trademark or other intellectual property laws or other laws. You must retain all copyright and trademark notices, including any other proprietary notices, contained in the materials. The use of such materials on any other web site or in any environment of networked computers is strictly prohibited.</p>

        <p>&nbsp;</p>
        <h3>User Feedback</h3>
        <p>By submitting any ideas, comments, suggestions or other information: to a Chat Room; or to neLO related to improvements to the Site and/or services related to the Site; (collectively, the "Feedback"), You agree that such Feedback shall be deemed, and shall remain, neLO's property. None of the Feedback shall be subject to any obligation of confidentiality on neLO's part and neLO shall not be liable for any use or disclosure of any Feedback. neLO shall own all rights related to the Feedback (including without limitation intellectual property rights and moral rights) and shall be entitled to use of the Feedback without restriction for any purpose whatsoever, commercial or otherwise, without compensation to You.

        You also warrant that the holder of any rights, including moral rights in such content, has completely and effectively waived all such rights and validly and irrevocably granted to You the right to provide the proprietary rights to neLO stated above.</p>
        <p>&nbsp;</p>

        <h3>Monitoring</h3>
        <p>You agree that neLO has no obligation to, but may monitor and review information You transmit over the Site. You agree that neLO may censor, edit, remove or prohibit the transmission or receipt of any information that neLO deems inappropriate or in violation of these Terms, and use any such information as necessary to provide the Site and/or to protect the rights or properties of neLO. You agree that neLO may also monitor and review stored information without restriction. You hereby acknowledge and consent to such monitoring and reviewing.</p>
        <p>&nbsp;</p>
        
        <h3>Passwords</h3>
        <p>You acknowledge that neLO will know passwords that You use to access the Site. You acknowledge and agree that You are solely responsible for maintaining the confidentiality of Your information and passwords, and accept responsibility for all activities that occur under Your account or password. neLO takes no responsibility and assumes no liability for any content posted or submitted by You or any users of Your account.</p>
        <p>&nbsp;</p>

        <h3>Linked Web Sites</h3>
        <p>This Site includes links to other web sites. neLO provides such links solely as a convenience to You and for informational purposes only. neLO has not reviewed all of the information on these other web sites. The inclusion of these links in no way indicates neLO’s endorsement, support or approval of the content, advertising, products, services, policies or other materials on or available from such web sites. Neither neLO, nor any other providers of products or services related to this Site, shall be responsible for the content of any other web sites and make no representation or warranty regarding any other web sites or the contents or materials on such web sites. If You decide to access other web sites, You do so at Your own risk. Other web sites may include links to the Site. The inclusion of such links does not indicate the other web site’s endorsement, support or approval of the content, advertising, products, services, policies or other materials on or available from the Site.</p>
        <p>&nbsp;</p>

        <h3>Advertising Disclosure, Accuracy</h3>
        <p>Product descriptions posted on our product pages are the representations of our suppliers. The Site may contain technical inaccuracies or typographical errors or omissions. neLO is not responsible for typographical, pricing, product information, advertising or shipping errors. Advertised prices and available quantities are subject to change without notice. neLO reserves the right to make changes, corrections and/or improvements to the Site, and to the products and programs described in such information, at any time without notice.</p>
        <p>&nbsp;</p>

        <h3>Mis-Communications / Lost Transactions</h3>
        <p>neLO and any other providers of products or services related to this Site are not responsible for communication malfunctions, failures, or difficulties, or lost, stolen, or misdirected, transmissions, messages or entries, or the security of any such communications. Further, neLO and any other providers of products or services related to this Site are not responsible for incorrect or inaccurate entry information, whether caused by User(s) or by any of the equipment or programming associated with the Site, or by any technical or human error that may occur in the processing of any information related to the Site. neLO and any other providers of products or services related to this Site may cancel or modify reservations where it appears that a User has engaged in fraudulent or inappropriate activity or under other circumstances where it appears that the reservations contain or resulted from a mistake or error.

        You agree that neither neLO nor any other providers of products or services related to this Site are responsible for any damages that may arise as a result of any travel or hotel arrangements or other orders You request or make on this Site which are not processed or accepted for any reason.</p>
        <p>&nbsp;</p>

        <h3>Personal Information, Credit Card Information</h3>
        <p>YOU AGREE THAT NEITHER neLO NOR ANY OTHER PROVIDERS OF PRODUCTS OR SERVICES RELATED TO THIS SITE ARE RESPONSIBLE OR LIABLE IN ANY WAY FOR INJURY, LOSS OR DAMAGE TO YOUR COMPUTER, OR INTERCEPTION OR USE OF CREDIT CARD INFORMATION OR OTHER PERSONALLY IDENTIFIABLE INFORMATION, RELATED TO OR RESULTING FROM USE OF THE SITE OR ANY SITES LINKED OR ASSOCIATED WITH THIS SITE.

        neLO MAKES NO WARRANTY OR REPRESENTATION REGARDING OF CONFIDENTIALITY OF ANY COMMUNICATION OR INFORMATION TRANSMITTED ON THIS SITE OR ANY WEB SITE LINKED TO THIS SITE. YOU AGREE THAT NEITHER neLO, NOR ANY OTHER PROVIDERS OF PRODUCTS OR SERVICES RELATED TO THIS SITE, ARE RESPONSIBLE FOR THE CONFIDENTIALITY OF ANY INFORMATION, (INCLUDING WITHOUT LIMITATION CREDIT CARD INFORMATION, PERSONALLY IDENTIFIABLE INFORMATION, EMAIL ADDRESS, PHONE NUMBER, ETC.), AND NEITHER neLO, NOR ANY OTHER PROVIDERS OF PRODUCTS OR SERVICES RELATED TO THIS SITE, ARE RESPONSIBLE FOR ANY DAMAGES THAT MAY ARISE FROM DISCLOSURE OF SUCH INFORMATION.</p>
        <p>&nbsp;</p>

    </section>
    <!-- /terms-use -->
		

{% endblock %}
